$link-color: #2563eb;
$btn-primary-color: #2563eb;

$body-background-color: #ffffff;
$sidebar-color: #f7f8fa;
$search-background-color: #ffffff;

$body-heading-color: #172033;
$body-text-color: #374151;

$border-color: #e5e7eb;

$nav-child-link-color: #4b5563;
$nav-list-item-color: #374151;
